target
/Dockerfile
*.bak
*.test
.bechmarks
.cache
.coverage*
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
nosetests.xml
coverage.xml
*.cover
.env
.venv
.tmp
*.so
__pycache__
*.egg-info
htmlcov
.idea
.pytest_cache
build
dist
