exclude .gitignore
exclude .coverage
exclude .coveragerc
exclude .travis.yml
include setup.cfg
include ../README.md
include ../LICENSE
include ../c/src/astring.h
include ../c/src/binsearch.h
include ../c/src/rsidvar.h
include ../c/src/nrvk.h
include ../c/src/genoref.h
include ../c/src/variantkey.h
include variantkey/pyvariantkey.h
prune .cache
prune .git
prune build
prune dist
prune htmlcov
recursive-exclude *.egg-info *
recursive-include test *










