exclude .gitignore
exclude .coverage
exclude .coveragerc
exclude .travis.yml
include setup.cfg
include ../README.md
include ../LICENSE
include ../c/src/variantkey/binsearch.h
include ../c/src/variantkey/esid.h
include ../c/src/variantkey/genoref.h
include ../c/src/variantkey/hex.h
include ../c/src/variantkey/nrvk.h
include ../c/src/variantkey/regionkey.h
include ../c/src/variantkey/rsidvar.h
include ../c/src/variantkey/variantkey.h
include variantkey/pyvariantkey.h
prune .cache
prune .git
prune build
prune dist
prune htmlcov
recursive-exclude *.egg-info *
recursive-include test *










